[Desktop Entry]
Version=1.0
Name=Modden
Comment= MDDN P2P Cryptocurrency
Comment[fr]= MDDN, monnaie virtuelle cryptographique pair à pair
Comment[tr]= MDDN, eşten eşe kriptografik sanal para birimi
Exec=modden-qt %u
Terminal=false
Type=Application
Icon=modden128
MimeType=x-scheme-handler/pivx;
Categories=Office;Finance;
StartupWMClass=Modden-qt
